In [116]:
import numpy as np
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go

In [117]:
# Create some arrays of possible distributionsm 
# in the form of ([[multiples], [associated probabilities])
levine1 = np.array([[0,2,4,7.5,10], [0.5,0.23,0.11,0.08,0.08]])
levine2 = np.array([[0,2,4,7.5,10], [0.56,0.24,0.07,0.06,0.07]])
correlation = np.array([[0,3,7.5,15,35,50], [0.648,0.253,0.059,0.025,0.011,0.004]])
mcclure = np.array([[0,0.5,3,15,50], [0.5,0.25,0.18,0.05,0.02]])

# function to add a cumulative distribution key
def cumulator(dist):
    holder = 0
    cumulative = []
    for i in dist[1]:
        holder += i
        cumulative.append(holder)
    dist = np.insert(dist,2,cumulative, axis=0)
    return dist

levine1 = cumulator(levine1)
levine2 = cumulator(levine2)
correlation = cumulator(correlation)
mcclure = cumulator(mcclure)

In [118]:
# function to run a simulated portfolio
def run_portfolio(dist, iterations, number_of_investments):
    total_outcome = []
    
    # function takes the dist and an array of rand numbers to match to multiple
    def multiple_selector(dist, outcome):
        fund_proceeds = []
        for x in outcome:
            for i in range(0, len(dist[0])):
                if x < dist[2][i]:
                    fund_proceeds.append(dist[0][i])
                    break
                else:
                    continue
        return fund_proceeds
    
    # iterate through the number of portfolios and append to an average gross multiple for each
    for _ in range(0, iterations):
        rands = np.random.rand(number_of_investments)
        fund_proceeds = multiple_selector(dist, rands)
        average = sum(fund_proceeds)/len(fund_proceeds)
        total_outcome.append(average)
        
    return total_outcome

In [119]:
# run various simulations accross the assumptions
levine1_concentrated = run_portfolio(levine1, 10000, 20)
levine1_spread = run_portfolio(levine1, 10000, 200)
levine2_concentrated = run_portfolio(levine2, 10000, 20)
levine2_spread = run_portfolio(levine2, 10000, 200)
correlation_concentrated = run_portfolio(correlation, 10000, 20)
correlation_spread = run_portfolio(correlation, 10000, 200)
mcclure_concentrated = run_portfolio(mcclure, 10000, 20)
mcclure_spread = run_portfolio(mcclure, 10000, 200)

concentrated_ports = [levine1_concentrated, levine2_concentrated, correlation_concentrated, mcclure_concentrated]
spread_ports = [levine1_spread, levine2_spread, correlation_spread, mcclure_spread]

In [120]:
# chart the concentrated portfolios with 20 investments
trace1 = go.Histogram(x=mcclure_concentrated, opacity=0.75, name='Mcclure - 20')
trace2 = go.Histogram(x=levine1_concentrated, opacity=0.75, name='Levine1 - 20')
trace3 = go.Histogram(x=correlation_concentrated, opacity=0.75, name='Correlation - 20')
trace4 = go.Histogram(x=levine2_concentrated, opacity=0.75, name='Levine2 - 20',)

data = [trace1, trace2, trace3, trace4]
layout = go.Layout(barmode='overlay')
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='concentrated')

/Users/taylorclauson/anaconda3/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [121]:
# chart the portfolios with 200 investments
trace5 = go.Histogram(x=mcclure_spread, opacity=0.75, name='Mcclure - 200')
trace6 = go.Histogram(x=levine1_spread, opacity=0.75, name='Levine1 - 200')
trace7 = go.Histogram(x=correlation_spread, opacity=0.75, name='Correlation - 200')
trace8 = go.Histogram(x=levine2_spread, opacity=0.75, name='Levine2 - 200')

data = [trace5, trace6, trace7, trace8]
layout = go.Layout(barmode='overlay')
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='spread')

In [122]:
# function to turn the results into a df
def organize(portfolios):
    df = pd.DataFrame(columns=['Bottom Decile', 'Bottom Quartile', 'Median', 'Upper Quartile', 'Upper Decile', 'Mean', 'Std Dev'])
    for portfolio in portfolios:
        bottom_decile = np.percentile(portfolio, 10)
        bottom_quartile = np.percentile(portfolio, 25)
        median = np.percentile(portfolio, 50)
        upper_quartile = np.percentile(portfolio, 75)
        upper_decile = np.percentile(portfolio, 90)
        mean = np.mean(portfolio)
        std = np.std(portfolio)
        stats = pd.Series([bottom_decile, bottom_quartile, median, upper_quartile, upper_decile, mean, std], index=['Bottom Decile', 'Bottom Quartile', 'Median', 'Upper Quartile', 'Upper Decile', 'Mean', 'Std Dev'])
        df = df.append(stats, ignore_index=True)
    return df

In [132]:
test = organize(spread_ports)
test.T

                        0         1         2         3
Bottom Decile    2.012500  1.642500  1.682500  1.762500
Bottom Quartile  2.147500  1.765000  1.885000  2.032500
Median           2.295000  1.910000  2.130000  2.388750
Upper Quartile   2.445000  2.055000  2.405000  2.758125
Upper Decile     2.580000  2.185000  2.670000  3.112500
Mean             2.297249  1.912546  2.156342  2.416405
Std Dev          0.221257  0.211657  0.387640  0.531623

In [133]:
test1 = organize(concentrated_ports)
test1.T

                        0         1         2         3
Bottom Decile    1.400000  1.100000  0.900000  0.650000
Bottom Quartile  1.800000  1.475000  1.275000  1.150000
Median           2.262500  1.875000  1.875000  1.925000
Upper Quartile   2.750000  2.350000  2.800000  3.506250
Upper Decile     3.225000  2.800000  3.850000  4.675000
Mean             2.296170  1.923727  2.161303  2.426540
Std Dev          0.707691  0.657888  1.234192  1.698185

In [125]:
mcclure20 = run_portfolio(mcclure,10000,20)
mcclure50 = run_portfolio(mcclure,10000,50)
mcclure100 = run_portfolio(mcclure, 10000, 100)
mcclure200 = run_portfolio(mcclure,10000, 200)
mcclure500 = run_portfolio(mcclure,10000,500)

In [131]:
mcclures = [mcclure20, mcclure50, mcclure100, mcclure200, mcclure500]
summary = organize(mcclures)
summary.T

                        0         1         2         3         4
Bottom Decile    0.650000  1.150000  1.495000  1.760000  1.996000
Bottom Quartile  1.125000  1.620000  1.880000  2.042500  2.181000
Median           1.925000  2.290000  2.355000  2.385000  2.405500
Upper Quartile   3.475000  3.070000  2.930000  2.757500  2.642000
Upper Decile     4.600000  3.860000  3.450000  3.105000  2.850000
Mean             2.406615  2.419955  2.433028  2.414016  2.416906
Std Dev          1.677765  1.066187  0.761148  0.527668  0.337888